* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.nav-bar {
  background-image: linear-gradient(#102006 0%, #0a1a07 100%, #041b00 0%);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  top: 3%;
  z-index: 999;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
  max-width: 1300%;
  margin: 0;
  padding: 0 10px;
  z-index: 1;
}
#logo {
  background-image: linear-gradient(to right, #ccae01,#b59203,#dfbe03,#d4c204, #ad9404,#cfa602,#b69b05,#645c04,#d2b304,#b19702,#a78603, #a48c06,#ac9e02,#b59b06,#776605,#987c0b, #937d04,#877d0b );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  background-image: linear-gradient(to top, #ccae01,#b59203,#dfbe03,#d4c204, #ad9404,#cfa602,#b69b05,#645c04,#d2b304,#b19702,#a78603, #a48c06,#ac9e02,#b59b06,#776605,#987c0b, #937d04,#877d0b );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  font-size: 1.5rem;
}
.nav-link {
display: flex;
text-align: center;
justify-content: center;
text-decoration: none;
padding: 0 1rem;
height: 100%;
}
.nav-link:hover {
  color: red;
  transition: all 0.3s ease;
}
.main-container{
  background-image: linear-gradient(#102006 0%, #0a1a07 100%, #041b00 0%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 80vh;
  height: 100%;
  z-index: 1;
  max-width: 1300px;
  padding: 0 50%;
}


